
body {
  	font-size: 62.5%;
 	font: 1.6rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header{
	width: 100%;
	padding: 25px;
	background-color: #2c3e50;
}

.header h1{
	font-size: 2.5rem;
	color: #fff;
}

.container{

	padding: 0 15px 15px;
}
#allevragen{
		background-color: #2c3e50;
		padding: 5px;
		margin-bottom: 15px;
		color: #ecf0f1;
}
#allevragentonen{
	margin-top: 30px;
		background-color: #2c3e50;
		padding: 5px;
		margin-bottom: 15px;
		color: #ecf0f1;

}
.space {
	margin: 5px;
}
.error {
	margin-top: 15px;
	padding: 10px;
	border: 1px solid;
	color: #D8000C;
    background-color: #FFBABA;
}
h1 {

}

input,
textarea{
	display: block;
	padding: 10px;
	border: 5px solid #2c3e50;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 1.2rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="submit"]{
	width: 150px;
	color: #9b59b6;
	background-color: #fff;
}

input[type="submit"]:hover{
	cursor: pointer;
	width: 150px;
	color: #fff;
	background-color: #9b59b6;
}




