body {
    background-color: #65B2CC;
    font-family: arial;

}

h1 {
    text-align: center;
    color:white;
    font-weight: bold;
    margin-bottom: 25px;
}

.banner {
    background-color: #f7f7f7;
    border-radius: 15px;
    padding: 5px 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.IMD {
    float:left;
    width: 20%;
    margin-left: 10px;
}
.container {
   width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.banner
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform-origin: center center;
    -webkit-animation: flipInY 1s;
    -webkit-animation-fill-mode: forwards;
}
.text {
    -webkit-animation: moveIn 1s;
    -webkit-animation-fill-mode: forwards;
}
.IMD {
    -webkit-animation: moveIn2 1s;
    -webkit-animation-fill-mode: forwards;
}
.IMD img {
    width: 100px;
    height: 100px;
}


@-webkit-keyframes flipInY
{
    0% { -webkit-transform: perspective(400px) rotateX(90deg); opacity: 0;}
	40% { -webkit-transform: perspective(400px) rotateX(-3deg);}
	70% { -webkit-transform: perspective(400px) rotateX(3deg);}
	100% { -webkit-transform: perspective(400px) rotateX(0deg); opacity: 1;}
}


@-webkit-keyframes moveIn
{
    0% { -webkit-transform: translateX(-500px)}
    100% { -webkit-transform: translateX(15px) }
}
@-webkit-keyframes moveIn2
{
    0% { -webkit-transform: translateX(-500px)}
    100% { -webkit-transform: translateX(0px) }
}

/*
Fotos CSS*/
#fotos  img {
    float: left;
    margin-right: 15px;
    width: 31%;
    height: 31%;
    border-radius: 15px;
}
.fotos :hover
{
	-webkit-transform-origin: center center;
	-webkit-animation: scale 0.3s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes scale
{
    0% { -webkit-transform: scale(1)}
    100% { -webkit-transform: scale(1.2)}
}