body {
background-color: #ecf0f1;
    color: black;
}
.container {
    background-color: #ecf0f1;
}

#graden {
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
}

img {
width: 50%;
    height: 50%;
}
.titel {
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
}
.deel1 {
    padding-bottom: 50px;
}
.deel2{

    background-color: #2c3e50;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}

.deel3{
    background-color: #2c3e50;
    color: white;

}