 <!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body>
        <div class="container" ng-app="imdApp" ng-controller="myController" >
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model="myName"/>
                <p ng-if="myName">Hello {{myName || 'slim shady'}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">
                    <input type="text" placeholder="Zoek een product" ng-model="productSearch" />

                    <ul class="productList" >
                        <li ng-repeat="product in products | filter:productSearch">
                            <span class="name">{{product.name}}</span>
                            <small class="quantity">{{product.qty}}</small>
                            <button ng-click="product.qty = product.qty + 1">+</button>
                            <button ng-click="product.qty = product.qty - 1">-</button>
                        </li>
                    </ul>
                    <button class="action">Send your order</button>
                    <p ng-if="status.orderSent" ng-click="postOrder()">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" ng-model="newProductName" />
                    </div>
                    <button class="action" ng-click="putProduct(newProductName)">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            var app = angular.module('imdApp', []);

                app.controller('myController', function($scope, $http){
                    console.log('hi there!', $scope);
                  
                  $scope.myName = 'ok';
                  
                  $http.get('http://imd.district01.be/product').
                      success(function(data, status, headers, config) {
                        // this callback will be called asynchronously
                        // when the response is available
                        $scope.products = data;
                      }).
                      error(function(data, status, headers, config) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                      });
                    
                    $scope.putProduct = function putProduct(newProductName) {
                    
                    $http.post('http://imd.district01.be/product', {
                      "name": newProductName
                     })
                     .success(function (url, data, config) {
                        // this callback will be called asynchronously
                        // when the response is available                     
                      
                     })
                     .error(function (url, data, config) {
                      // called asynchronously if an error occurs
                        // or server returns response with an error status.
                     });
                   };
                    
                $scope.postOrder = function postOrder() {

				var products = _.filter($scope.products, function (product) {
					return product.qty > 0;
				});
				

				
				$http.post('http://imd.district01.be/order', {
						username: $scope.myName,
						products: products
					})
					.success(function (url, data, config) {
						console.log("works");
					})
					.error(function (url, data, config) {
                        console.log("faal");
					});
			};

                 
                });
            
                
            // API URL: 'http://imd.district01.be'
            
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
